*{
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    font-family: 'Noto Sans KR', sans-serif;
}


main{
    width: 100%;
    padding-top: 55px;
}
h2{
    font-size: 60px;
    font-weight: 700;
    color: #333;
    line-height: 280px;
    text-align: center;
}
.writing_wrap{
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    padding: 80px 0 160px;
}
.view_div{
    border-top: 1px solid #ebebeb;
}
.inner{
    width: 1000px;
    margin: auto;
}
.view_top{
    display: flex;
    flex-wrap: wrap;
    padding: 74px 0 60px;
}
.title_view{
    width: calc(100% - 135px);
    font-size: 36px;
    font-weight: 300;
    color: #333;
    line-height: 42px;
    letter-spacing: -0.07em;
}
.title_view>p{
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
    color: #aaa;
    line-height: 1;
    letter-spacing: 1.5px;
}
.sns_view{
    position: relative;
    width: 135px;
    text-align: right;
    margin: 0 0 auto;
}
.sns_view>a{
    display: inline-block;
    width: 27px;
    height: 25px;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/user-menu-share2.png) center no-repeat;
}
.last_btn{
    display: block;
    position: relative;
    width: 40px;
    height: 60px;
    padding: 0 59px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    line-height: 60px;
    text-align: center;
    overflow: hidden;
    margin: auto;
}
.last_btn>span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #333
}